body {
    background-image: url('b1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

h1{
    font-size: 60px;
    color: azure;
    text-align: center;
    margin-bottom: 0%;
    border-top:15px darkblue solid;
    border-bottom:15px darkblue solid;
}
p{
    font-size:3.0vh;
    color: azure;
    display: inline-block;
    margin-left: 3%;
    margin-top: 1%;
    border:1vh darkblue solid;
    border-radius: 20px 5px;
    background-color: darkblue;
    
}
p:hover{
    scale:1.2;
}
p1 button{
    font-size:3vh;
    color: darkblue;
    display: inline-block;
    margin-left: 3%;
    margin-top: 1%;
    border:1vh white solid;
    border-radius: 20px 5px;
    background-color: White;
    font-family: serif;
}
p1:hover {
    cursor: pointer;
}
p1 button:hover {
    cursor: pointer;
    scale: 1.2;
}

p2 button {
    display: block;
    left: 60px;
    width: 150px; 
    height: 40px; 
    font-size: 24px; 
}
label{
    font-size:2.2vh;
    color: azure;
    display: inline-block;
    margin-left: 7%;
    margin-top: 1%;
    border:10px darkblue solid;
    border-radius: 10px;
    background-color: darkblue;
    
}

.container {
    text-align: center;
}

.input-container {
    margin-bottom: 20px;
}

.input-container label, .input-container input {
    margin: 5px;
    font-size: 1.2em;
}

.timer {
    font-size: 40vh;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.buttons button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
}

p4 button:hover{
    scale: 1.1;
    background-color: gray;
    color: white;
    cursor: pointer;
 }

 /* CSS for the modal */
 .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 95%; /* Could be more or less, depending on screen size */
    height: 95%;
}

/* Close button */
.close {
    color: red;
    float: right;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: darkred;
    text-decoration: none;
    cursor: pointer;
    scale: 1.2;
}